:root {
    --very-light-green: #F4FCD9;
    --text-input-field: #F7F7F7;
    --green-thc: #84926c;
    --white: #FFFFFF;
    --black: #000000;
    --dark: #534340;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --card-size: 240px;
}
body{
  font-family: 'Montserrat', sans-serif;;
  background-color: var(--green-thc);
  margin: 0;
}
nav {
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 5px solid var(--very-light-green);
    background-color: var(--very-light-green);

}
.menu {
    display: none;
}
.nav-logo {
    width: 100px;
    height: 100%;
}
.nav-name{
    display: flex;
    align-items: center;
    margin-left: 12px;
    font-weight: bold;
}
.navbar-left {
    display: flex;
    
}
.navbar-left ul li a,
.navbar-right ul li a{
    text-decoration: none;
    color: var(--dark);
    border: 1px solid var(white);
    padding: 12px;
    border-radius: 8px;
    
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover{
    border: 1px solid var(--green-thc);
    color: var(--hospital-green);

}
.navbar-left ul,
.navbar-right ul{
    list-style: none;
    padding: 0;
    margin-top: 24px;
    display: flex;
    align-items: center;
    margin: 0;
    height: 60px;

}
.hero-image{
    width: 100%;
    height: 600px;
    object-fit: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://news.agrofystatic.com/59764bff2d3b5_1004x563.jpg?d=620x375");   
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .hero-text h1{
      font-size: 80px;
      margin: 30px;
  }
  
  .primary-button {
    background-color: var(--green-thc);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 20%;
    cursor: pointer;
    font-size: var(--lg);
    font-weight: bold;
    height: 50px;
    
  }
  .cards-container{
      display: grid;
      grid-template-columns: 50% auto;
      background-color: var(--green-thc);
      border-radius: 20px;
       
      ;
  }
  .gallery img{
    width: 100%;
    height: 100%;
    border-radius: 0 20px 20px 0;
    object-fit: cover;
    
  }
  .description{
      background-color: var(--green-thc);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      font-size: var(--lg);
      text-align: left;
      border-radius: 20px;
      color: var(--white);
  }
  .description h1{
    color: var(--very-light-green);
    font-size: 70px;
    text-align: center;
}
.description p{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 40px;
}
.card-2{
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 40px;
    grid-column-start: 1;
    grid-column-end: 3;
    color: var(--white);
}
.description-2{
    background-color: #9daa85
}
.cards-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center; 
    font-size: 1em;
    
}

.product-card img {
    width: 80%;
    height: 280px;
    border-radius: 20px;
    margin: 28px;
}
.product-card p{
    font-size: 18px;
    
}
.site-footer{
    grid-column-start: 1 ;
    grid-column-end: 3;
    background-color: #9daa85;
}
.social-media{
    display: flex;
    justify-content: ;
    
}
.social-media a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 12px;
}
.social-media img{
    width: 20%;
}
.social-text{
    font-size: 18px;
    font-weight: bold;  
    color: var(--white);
    text-align:center;
}
@media (max-width: 640px) {
   
    .menu {
        display: block;
        width: 24px;
    }
    .navbar-left ul {
        display: none;
    }
    .navbar-email {
        display: none;
    }
    .cards-grid{
        --card-size: 140px;
        object-fit: cover;
        grid-template-columns: repeat(auto-fill, var(--card-size)); 

    }
    .product-card {
        width: 100%;
    }
    .product-card img {
        width: 80%;
        height: 140px;
        margin: 0;
    }
}
